<div class="pt-3">
</div>
<p>
  <h2><%= @consultation.start_time&.strftime("%b %e, %l:%M %p") %></h2>
</p>
<% price = @consultation.duration / 30 %>
<% total_price = price * @consultation.mentor.price %>
<div class="row">
  <% @consultation.tags.each do |tag| %>
    <p class="tag"><%= tag.name %></p>
  <% end %>
</div>
<p><strong>Duration: </strong><%= @consultation.duration%> min</p>
<p><strong>Mentor: </strong><%= @consultation.mentor.user.name %></p>
<p><strong>Mentee: </strong><%= @consultation.user.name %></p>
<!-- <p><strong>Desription: </strong><%#= @consultation.mentor.description %></p>
<p><strong>Status: </strong><%#= @consultation.status %></p> -->
<hr>
<p>To start the call, please use your <strong>'Room Name' 👈</strong>:</p>
<h2 id="room-name"><%= @consultation.room_name %></h2>
<script src="room_code_generator"></script>
<hr>
<!-- <p>Total: <span class="price">¥<%= total_price %></span></p> -->