<br>
<h5>Preparation</h5>
<hr>


<% if @consultation.mentor.user == current_user %>
  <%= simple_form_for [@consultation, @topic]  do |f| %>
    <%= f.input :title %>  
    <%= hidden_field_tag :consultation_id, @consultation.id %>
    <%= f.submit "Add new preparation topic", :class => "btn btn-warning" %>
  <% end %>
  <hr>
<% @consultation.topics.each do |topic| %>
  <%= topic.checked %><li><%= topic.title %></li>
<% end %>
<% end %>

<hr>