<div class="container">
  <h1> Consultations </h1>
  <% @consultations.each do |consultation|  %>
    <% price = consultation.duration / 30 %>
    <% total_price = price * consultation.mentor.price %>
    <div class="consultation-card">
      <div class="consultation-top-wrap">
        <div>
          <img src="https://image.flaticon.com/icons/png/512/194/194937.png" alt="avatar-large" class="avatar-large">
          <h5><%= consultation.mentor.user.name%></h5>
        </div>
        <div class="consultation-info">

          <ul>
            <li><span>Start time: </span><%= consultation.start_time&.strftime("%b %e, %l:%M %p") %></li>
            <li><span>Details: </span><%= consultation.details %></li>
            <li><span>Duration: </span><%= consultation.duration %></li>
            <li><span>Price/30min: </span>¥<%= consultation.mentor.price%></li>
          </ul>

        </div>
        <div class="consultation-buttons">

          <div>
            <% if consultation.status == "Pending" %>
              <p class="third-button"><%= consultation.status %> </p>
            <% elsif consultation.status == "Rejected" %>
              <p class="red-button"><%= consultation.status %> </p>
            <% else %>
              <p class="green-button"><%= consultation.status %> </p>
            <% end %>
          </div>          
         
          <h6>Total: ¥<%= total_price %> </h6>
          <%= link_to "Access this booking", consultation_path(consultation), class: "main-button" %>

        </div>
      </div>
    </div>
  <% end %>
</div>










