<h1 style="text-align: center"> Consultations </h1>


<div class="container my-5">
  <% @consultations.each do |consultation|  %>
<div class="container my-3">

  <div class="consultation-top-wrap">
    <%= link_to "Access this booking", root_path, class: "main-button"  %>
    <p>Start time: <%= consultation.start_time&.strftime("%b %e, %l:%M %p") %></p>
    <p>Details: <%= consultation.details %></p>
    <p>Duration: <%= consultation.duration %></p>
  </div>
  
    <div class="consultation-bottom-wrap">
      <div class="consultation-bottom-left">
        <h2>Student name: <%= consultation.user.name %></h2>
        <p>email: <%= consultation.user.email %></p>
        <p>role: <%= consultation.user.role %></p>
        <p>linkedin url: <%= consultation.user.linkedin_url %></p>
      </div>        
      <div class="consultation-bottom-right">
        <h2>Mentor name: <%= consultation.mentor.user.name%></h2>
        <p>Mentor description: <%= consultation.mentor.description%></p>
        <p>Mentor price: ¥<%= consultation.mentor.price%>0</p>
        <p>Mentor availability: <%= consultation.mentor.availability%></p> 
        <p>Mentor title: <%= consultation.mentor.title%></p>
        <p></p> 
      </div>
    </div>
  </div>
  <% end  %>
</div>
</div>
        
        

          


          


