
<div class="video-room padding-top">
  <div class="col-lg-12 d-flex">
    <div class="screen col-lg-7">
      <iframe class="twilio-video" allow="camera; microphone"
        src="https://video-app-8070-1181-dev.twil.io?passcode=22802380701181"
        title="Mentor Consultation Room">
      </iframe>
    </div>
    <div class="flex-grow panel col-lg-5">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link <%= params[:new_message] ? "" : "active" %>" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true">Details</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
            aria-selected="false">Questions</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages"
            aria-selected="false">Preparation</a>
        </li>
        <% if @consultation.mentor.user == current_user %>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="certify-tab" data-toggle="tab" href="#certify" role="tab" aria-controls="settings"
            aria-selected="false">Endorsements</a>
          </li>
        <% end %>
        <!-- <li class="nav-item" role="presentation">
          <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings"
            aria-selected="false">Settings</a>
        </li>-->
        <li class="nav-item" role="presentation">
          <a class="nav-link <%= params[:new_message] ? "active" : "" %>" id="chats-tab" data-toggle="tab" href="#chats" role="tab" aria-controls="chats"
            aria-selected="false">Chat</a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane <%= params[:new_message] ? "" : "active" %>" id="home" role="tabpanel" aria-labelledby="home-tab">
          <%= render 'consultations/conference_details' %>
        </div>
        <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <%= render 'consultations/student_questions' %>
        </div>
        <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
          <%= render 'consultations/mentor_preparation' %>
        </div>
        <div class="tab-pane" id="certify" role="tabpanel" aria-labelledby="certify-tab">
          <%= render 'consultations/certify_form' %>
        </div>
        <!-- <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">
          <%#= render 'consultation_video' %>
          </div> -->
        <div class="tab-pane <%= params[:new_message] ? "active" : "" %>" id="chats" role="tabpanel" aria-labelledby="chats-tab">
          <%= render 'consultations/chat', consultation: @consultation, message: @message %>
        </div>
        <div>
          <!-- Tab panes -->
          <%= render 'consultations/consultation_video' %>
        </div>
      </div>
      <!-- Tab panes -->
    </div>
  </div>
  <% unless @consultation.mentor.user == current_user %>
    <div class="exit-room">
      <%= link_to "Leave Room", new_mentor_review_path(@consultation.mentor), class: "main-button" %>
    </div>
  <% end %>
  <% if @consultation.mentor.user == current_user %>
    <div class="exit-room">
      <%= link_to "Endorse Mentee", "#", class: "second-button", id: 'certify-mentee' %>
      <%= link_to "Leave Room", mentor_consultation_path, class: "main-button" %>
    </div>
  <% end %>

</div>
