<div class="container">
  <h2>Mentors</h2>
  
  <%= form_tag mentors_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find tags"
  %>
  <%= submit_tag "Search", class: "main-button" %>
<% end %>
  
  <div class="card-grid">
      <% @mentors.each do |mentor| %>
        <div class="mentor-cards">
          <div class="">
            <div class="">
              <img src="https://image.flaticon.com/icons/png/512/194/194937.png" alt="avatar-large" class="avatar-large">
            </div>
            <h6><%= mentor.user.name %></h6>
            <p><%= mentor.title %></p>
          </div>
          <div class="stars">
            <% 5.times do %>
              <i class="fas fa-star"></i>
            <% end %>
          </div>
          <div class="mentor-price">
            <p><span>¥<%= mentor.price %></span>/30min</p>
          </div>
          <div class="mentor-tag">
            <% mentor.tags.each do |tag| %>
              <p><%= tag.name %></p>
            <% end %>
          </div>
          <div class="book-btn">
            <%= link_to 'Book', mentor_path(mentor),  class: 'main-button'%>
          </div>
        </div>
      <% end %>
  </div>
</div>
