<div class="container my-5 padding-top">
  <h2>Become a Mentor</h2>
  <%= simple_form_for @mentor do |f| %>
    <%= f.input :title, label: 'Role Title' %>
    <%= f.input :description, label: 'About' %>
    <%#= f.input :price, label: "Price/30min" %>
    <%= f.input :price, label: "Price/30min", as: :currency %> 
    <%= f.input :availability, label: "Availability", class: "form-control" %>
    <%= f.label 'Select Expertises' %>
    <%= f.association :tags, label: false, input_html: { class: 'select2 js-example-basic-multiple', multiple: true } %>
    <%= f.submit "Create", class: "main-button" %>
  <% end  %>
</div>

