<div class="container">
  <%#= if policy(Mentor).show? %>
    <div class="mentor-info-main">
      <div class="mentor-block">
        <img src="https://img.favpng.com/0/25/10/computer-icons-teacher-png-favpng-sJASskmgxhuZQK1YaXjUMPjZG.jpg" alt="avatar-pic-here" class="avatar-large">
        <h6><%= @mentor.user.name %></h6>
        <p><%= @mentor.title %></p>
        <div class="stars">
            <% 5.times do %>
              <i class="fas fa-star"></i>
            <% end %>
        </div>
      </div>
      <div class="mentor-description">
        <p id="description"><%= @mentor.description %></p>
        <div class="mentor-details">
          <p><strong>Price: </strong><span>¥<%= @mentor.price %></span>/30min</p>
          <p><strong>Availability: </strong> <%= @mentor.availability %></p>
        </div>
      </div>
    </div>
  <div class="booking-form">
    <h5 class="text-center">Book this mentor now!</h5>
    <%= render 'consultations/form' %>
  </div>
</div>
