<div class="container">
  <h1>My Consultations</h1>
  <div class="consultations-board">
    <% @consultations.each do |consultation| %>
      <div class="consultations-board-card">
      
        <div>
          <%  if consultation.user.photo.attached? %>
            <%= cl_image_tag consultation.user.photo.key, alt: "avatar-large", class: "avatar-large" %>
          <% else %>
            <img src="https://image.flaticon.com/icons/png/512/194/194937.png" alt="avatar-large" class="avatar-large">
          <% end %>
          <!-- <img src="https://image.flaticon.com/icons/png/512/194/194937.png" alt="avatar-large" class="avatar-large"> -->
          <h6><%= consultation.user.name %></h6>
        </div>
        <div class="info">
          <ul>
            <li>Date: <%= consultation.start_time %></li>
            <li>How Long: <%= consultation.duration %></li>
            <li>Concerns: <%= consultation.details %></li>
            <li>
              <div class="row topics">
                <span>Topics: </span>
                <% consultation.tags.each do |tag| %>
                  <p class="tag"><%= tag.name %></p>
                <% end %>
              </div>
            </li>
          </ul>
        </div>
        <div class="buttons">
          <%= simple_form_for consultation do |f| %>
            <%= f.input :status, input_html: { value: 'Accepted'}, as: :hidden %>
            <%= f.submit "Accept", class: 'main-button' %>
          <% end %>
          <%= simple_form_for consultation do |f| %>
            <%= f.input :status, input_html: { value: 'Rejected'}, as: :hidden %>
            <%= f.submit "Reject", class: 'second-button' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

