<!DOCTYPE html>
<html>
  <head>
    <title>MentorHub-</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title>Mentors Hub for avid Learners, Founders and remote learners | Mentor Hub</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

    <div class="content">
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>
